/* Any element that holds tile elements needs to be sized to a ratio of 
(number-tiles * 100) : 140 */

.rack {
    display: flex;
    width: 104vmin;
    height: 11.2vmin;
    transform-style: preserve-3d;
}